<header class="header">

  <div class="header-banner">
    <div class="header-text">
    RoBoC
    </div>
  </div>

  <nav class="header-nav-menu">
    <ul>
      <li class="menuitem"><a href="about_the_board.html">About</a></li>
      <li class="menuitem"><a href="datasheets.html">Datasheets</a></li>
      <li class="menuitem"><a href="getting_started.html">Tutorial</a></li>
      <li class="menuitem"><a href="bootloader.html">Bootloader</a></li>
      <li class="menuitem"><a href="skeleton_code.html">Skeleton Code</a></li>
      <li class="menuitem"><a href="pic_programming.html">PIC Programming</a></li>
      <li class="menuitem"><a href="camera.html">Camera</a></li>
    </ul>
  </nav>

</header>

